<div *ngIf="movieList.length == 0 && matchSearch == true">
  <p>Loading...</p>
</div>
<div>
  <div class="buttons-container">
    <input
      type="text"
      class="input-search"
      (keyup)="handleSerchByName($event)"
      placeholder="Search by Title"
    />
    <button (click)="handleClickOrderByTitle()" class="btn btn-primary button">
      Title<span class="fas fa-sort-alpha-down icon"></span>
    </button>
    <button
      (click)="handleClickOrderByPopularity()"
      class="btn btn-primary button"
    >
      Popularity<span class="fas fa-sort-amount-down icon"></span>
    </button>
  </div>

  <div *ngIf="matchSearch == false" class="list">
    <ul *ngFor="let movie of movieList">
      <div class="card">
        <img
          [routerLink]="['/movies/details/', movie.id]"
          class="card-img-top router-link"
          src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
          alt="{{ movie.title }}"
        />
        <div class="card-body">
          <h5
            [routerLink]="['/movies/details/', movie.id]"
            class="card-text router-link"
          >
            {{ movie.title }}
          </h5>
        </div>
        <div class="card-body">
          <h6 class="card-text text-secondary">
            Popularity: {{ movie.popularity }}
          </h6>
        </div>
      </div>
    </ul>
  </div>
</div>
<div *ngIf="matchSearch == false && movieList.length == 0">
  <p>{{ noresultList }}</p>
</div>
<div class="logout-container">
  <button (click)="handleClickLogOut()" class="btn btn-warning button">
    User: {{ userToken }}<span class="fas fa-sign-out-alt"></span>
  </button>
</div>
