@import "../../../styles/styles.scss";

.buttons-container {
  @include flex;
  flex-direction: column;
}

.list {
  @include flex;
  flex-wrap: wrap;
  margin: 10px;
}
.card {
  width: 18rem;
  height: 33rem;
  img {
    height: 400px;
  }
  &-body {
    @include flex;
  }
}
.icon {
  margin-left: 10px;
}
.button {
  margin-top: 10px;
  width: 263px;
}
.input-search {
  padding: 5px;
  width: 263px;
}
.logout-container{
  margin:20px;
}

@media only screen and (min-width: 700px) {
  .buttons-container {
    flex-direction: row;
    flex-wrap: wrap;
    & input{
      margin-top: 10px;
      margin-left: 10px;
    }
  }
  .button {
    margin-top: 10px;
    margin-left: 10px;
  }
}
