@import '../../../styles/styles.scss';

.main{
  @include flex;
  margin-top: 10px;
}
.loading-container{
  @include flex;
  flex-direction: column;
}
.card{
  width: 18rem;
  color: black;
  margin-bottom: 20px;
  @include flex;
}
.buttons-container{
  margin:10px;
  @include flex;
}
.button{
  width: 263px;
}
.txt-justify{
  text-align: justify;
}
.logout-container{
  margin-bottom: 10px;
}

@media only screen and (min-width: 800px) {
  .card{
    width: 50rem;
    &-img{
      background: black;
      &-top{
        padding: 20px;
        width: 40%;
      }
    }
  }
}