<div class="loading-container" *ngIf="(movieDetails | json) == ({} | json)">
  <p>Loading...</p>
  <div class="buttons-container">
    <button (click)="handleClickBack()" class="button btn btn-primary">
      <span class="fas fa-angle-double-left"></span>
    </button>
  </div>
</div>
<div class="main" *ngIf="(movieDetails | json) !== ({} | json)">
  <div class="card">
    <div class="card-img">
      <img
        class="card-img-top"
        src="https://image.tmdb.org/t/p/w500{{ movieDetails.poster_path }}"
        alt="{{ movieDetails.title }}"
      />
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ movieDetails.title }}</h5>
      <p class="card-text txt-justify">{{ movieDetails.overview }}</p>
      <h5 class="card-title">Popularity</h5>
      <p class="card-text">{{ movieDetails.popularity }}</p>
      <h5 class="card-title">Release Date:</h5>
      <p class="card-text">{{ movieDetails.release_date }}</p>
      <h5 class="card-title">Runtime</h5>
      <p class="card-text">{{ movieDetails.runtime }} min.</p>
      <h5 class="card-title">Tagline</h5>
      <p class="card-text">{{ movieDetails.tagline }}</p>
    </div>
    <div class="buttons-container">
      <button (click)="handleClickBack()" class="button btn btn-primary">
        <span class="fas fa-angle-double-left"></span>
      </button>
    </div>
  </div>
</div>
<div class="logout-container">
  <button (click)="handleClickLogOut()" class="btn btn-warning button">
    User: {{ userToken }}<span class="fas fa-sign-out-alt"></span>
  </button>
</div>
