/* You can add global styles to this file, and also import other style files */
html, body{
  background: black;
  color: white;
}
*{
  margin: 0;
  padding: 0;
  text-align: center;
}
.router-link{
  cursor: pointer;
  color: black;
  &:hover{
    color: blue;
  }
}
ul{
  list-style: none;
  padding: 0;
  margin: 10px;
}